*{
  margin: 0;
}
html{
  margin: 0;
}

h1{
  font-family: 'Urbanist', sans-serif !important;
  font-weight: 700 !important;
  font-size: 39px !important;
  color: #000000 !important;
  line-height: 1.3 !important;
  text-align: left;
}
h2{
  font-family: 'Urbanist', sans-serif !important;
  font-weight: 700 !important;
  font-size: 35px !important;
  color: #000000 !important;
  line-height: 1 !important;
  text-align: left;
}
.h2-generic{
  margin-bottom: 10px !important;
}
.under-h2-generic{
  margin-bottom: 50px !important;
}
h3{
  font-family: 'Urbanist', sans-serif !important;
  font-weight: 600 !important;
  font-size: 19px !important;
  color: #000000 !important;
  line-height: 1.1 !important;
  text-align: left;
}
h4{
  font-family: 'Urbanist', sans-serif !important;
  font-weight: 700 !important;
  font-size: 21px !important;
  color: #FFFFFF !important;
  line-height: 1.1 !important;
  text-align: left;
}
p{
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  font-size: 19px;
  color: #000000 !important;
  line-height: 1 !important;
  text-align: left;
}
a{
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  font-size: 14px !important;
  opacity: 1 !important;
  line-height: 1 !important;
  text-align: left;
}

/** Template page **/
.home{
background-color: #FFFFFF;
}

/** Navbar **/
.navbar-nav a{
  font-size: 15px !important;
  text-transform: initial !important;
  color: #FCBD5C !important;
  padding: 0;
  position: relative;
  margin: 0 30px;
}
.navbar-nav a::after{
  position: absolute;
  width: 0px;
  height: 2px;
  content: '';
  left: 15px;
  bottom: -13.5px;
  background-color: #FFA45C;
  transition: all ease 0.3s;
}
.navbar-nav a:hover::after{
  width: 50px;
  background-color: #FFA45C;
}
.navbar-nav .menu-item-1238 a:hover::after{
  width: 0px;
}
.navbar-nav .menu-item-1238 a{
  padding: 10px 30px;
  border-radius: 5px;
  border: 1px solid #FCBD5C;
  background-color: #FFFFFF;
  transition: all ease 0.3s;
}

.navbar-nav .menu-item-1238 a:hover{
  color: #FFFFFF !important;
  background-color: #FCBD5C !important;
}

/* MAILCHIMP NEWSLETTER */
.newsletter_shortcode{
  background-image: linear-gradient(to right, #FFA45C 65%, #FCBD5C);
}
.mailchimp_newsletter_banner{
  max-width: 1280px;
  margin: auto;
}
.mailchimp-right_part , .mailchimp-left_part{
  display: inline-block;
  vertical-align: middle;
  padding: 40px 0px;
}
.mailchimp-right_part{
  width: 34%;
}
.mailchimp-left_part{
  width: 63%;
  padding: 0% 3%;
}
.mailchimp-right_part .form-group{
  padding-bottom: 0px;
}
.mailchimp-right_part .mc_mail{
  position: relative !important;
}
.mailchimp-right_part .mc_btn{
  position: absolute !important;
  right: 0;
  top: 0;
  margin: 0 !important;
  height: 100%;
  box-shadow: none;
  font-size: 14px;
  padding: 15px;
  padding: 15px;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  border-radius: 0px 5px 5px 0px;
  border-left: 1px solid #FFA45C;
  color: #FFA45C;
  transition: all ease 0.3s !important;
}
.mailchimp-right_part .mc_btn:hover{
  border: 1px solid #FFA45C;
  background-color: #FFA45C;
  border-radius: 0px 5px 5px 0px;
  color: #FFFFFF;
  box-shadow: none;
}
h2.mailchimp_news{
  color: #FFFFFF !important;
  margin-top: 0px 0 20px;
}
.mailchimp-left_part p{
  color: #FFFFFF !important;
}
.mailchimp_termes{
  font-size: 14px;
  color: #FFFFFF !important;
  font-style: italic;
}
.mailchimp-right_part .mc_mail{
  background-color: #FFFFFF !important;
  border-radius: 5px !important;
  padding: 15px 25px 14px 25px !important;
  height: auto !important;
  background-image: none !important;
}
.mc_mail::placeholder{
  color: #505050 !important;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  font-size: 19px;
}
.mc4wp-form{
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}
.mc4wp-response{
  max-width: 1280px;
  margin: auto;
  position: relative;
}
.mc4wp-alert p{
  color: #FFFFFF !important;
  margin: 0 !important;
  font-size: 14px !important;
}
.mc4wp-alert{
  position: absolute;
  right: 285px;
  top: -40px;
}

/** Header Home Banner **/
.div_hd_home{
  position: relative;
  width: 100%;
  height: 755px;
  overflow: hidden;
}
.img_hd_home{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  zoom: 1;
}
.writable-zone{
  max-width: 1280px;
  margin: auto;
  position: relative;
  height: 100%;
}
.header-banner-block{
  width: 470px;
  background-color: #FFFFFF;
  z-index: 1;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  min-height: 360px;

}
.header-banner-block h1{
  position: relative;
  margin: 40px 30px 40px 30px;

}
.header-banner-block h1::after{
  position: absolute;
  width: 190px;
  height: 2px;
  content: '';
  left: 0;
  bottom: -10px;
  background-color: #000000;
}
.header-banner-block .under-the-title{
  margin: 0px 30px 20px 30px;
}
.banner-links{
}
.header-banner-block .download-banner{
  color: #FFA45C;
  background-color: #FFFFFF;
  margin: 0px 30px 20px 30px;
  padding: 8px 22px;
  font-size: 14px;
  border: 1px solid #FFA45C;
  border-radius: 5px;
  position: relative;
  top: 10px;
  transition: all ease 0.3s !important;
}
.header-banner-block .download-banner:hover{
  color: #FFFFFF;
  background-color: #FFA45C;
}
.header-banner-block .discover-banner{
  color: #FCBD5C;
  margin: 0px 30px 30px 30px;
  font-size: 14px;
  position: relative;
  top: 30px;
}

/** Generic Banner **/
.div_hd_generic{
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.img_hd_generic{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  zoom: 1;
}
.writable-zone{
  max-width: 1280px;
  margin: auto;
  position: relative;
  height: 100%;
}
.generic-title{
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}
.generic-title h1{
  position: relative;
  margin: 40px 30px 40px 30px;
  color: #FFFFFF !important;

}
.generic-title .generic-under{
  margin: 0px 30px 20px 30px;
  color: #FFFFFF !important;
}



/** Recent News **/
.title-recent h2, .title-recent p{
  text-align: center !important;
}
.title-recent h2{
  margin-bottom: 10px;
}
.title-recent p{
  margin-bottom: 40px;
}
.recent-news-bg{
  background-color: #ffffff;
}
.recent-news-block{
  max-width: 1280px;
  margin: auto;
  text-align: center;
  padding: 50px 0px 50px;
}
.recents_are_here article:first-child{
  margin-left: 0px !important;
}

.btn-go_all_news{
  margin: 50px 0 0;
}
.btn-go_all_news a{
  padding: 8px 20px;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #FFA45C;
  border: 1px solid #FFA45C;
  transition: all ease 0.3s !important;
  color: #FFFFFF;
}
.btn-go_all_news a:hover{
  color: #FFA45C;
  background-color: #FFFFFF;
}

/** News Thumbnail **/
.news_title{
  min-height: 43px;
}
.news-here{
  width: 330px;
  display: inline-flex;
  border-radius: 5px;
  margin-left: 80px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}
.all-content-news{
  margin: 30px 30px;
  position: relative;
  height: 210px;
}
.header_post{
  position: absolute;
  top: -60px;
  background-color: #FFFFFF;
  border-radius: 5px;
  width: 270px;
}
.news_tag, .news_date{
  font-weight: 600 !important;
  font-size: 15px !important;
  color: #707070 !important;
  display: inline;
  padding: 10px;
  text-transform: uppercase;
}
.news_tag{
  float: left;
}
.news_date{
  float: right;
}
.link-go-article{
  color: #FFA45C !important;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  font-size: 19px !important;
  line-height: 1 !important;
  float: left;
  margin-top: 10px;
}
.link-go-article::after{
  content: ' ';
  background-image: url('/wp-content/uploads/2022/content/arrow-news.png');
  width: 14px;
  height: 10px;
  float: right;
  margin-top: 5px;
  margin-left: 8px;
  position: absolute;
  background-position: 0px;
  transition: all 0.3s ease;
}
.link-go-article:hover::after{
  background-position: 14px;
}
.img_cover{
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 5px 5px 0px 0px;
}
.img_cover img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  zoom: 1;
}
.entry-content{
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  font-size: 19px;
  color: #000000 !important;
  text-align: justify;
  line-height: 1 !important;
  height: 125px;
}

/** Home Double Block with Car in a Forest **/
#post-1192{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  background-color: rgb(245, 245, 245);
}
.double_with_car_forest{
  padding: 50px 0px 50px;
  max-width: 1280px !important;
  margin: auto !important;
}
.double_with_car_forest h2{
  margin-bottom: 30px;
}
.double_with_car_forest figure{
  min-height: 450px !important;
  margin: 0 6% !important;
  /* max-width: 450px; */
}
.default_btn_leaf a{
  padding: 8px 20px;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #FFA45C;
  border: 1px solid #FFA45C;
  transition: all ease 0.3s !important;
}
.default_btn_leaf a:hover{
  background-color: rgba(0, 0, 0, 0);
  color: #FFA45C;
}

/** All News Page **/
.page-template-template-actualites .news-here{
  margin-bottom: 80px !important;
}
.page-template-template-actualites .recents_are_here article:nth-child(3n+1) {
    margin-left: 0px !important;
}
.page-template-template-actualites .recent-news-block{
  padding-bottom: 0px !important;
}
#post-1228{
  display: none;
}


/** Single News Page **/
.single-news-bg{
  background-color: #ffffff;
}
.single-news-block{
  max-width: 1280px;
  margin: auto;
  text-align: center;
  padding: 50px 0px 50px;
}
article.single-post{
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  padding: 0px !important;
  border-radius: 5px;
  margin: 0 6%;
}
.all-content-news-single-post{
  margin: 0 50px;
}
.img_cover-single-post{
    position: relative;
    width: 100%;
    height: 315px;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
}
.img_cover-single-post img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  zoom: 2;
}
.news_title-single-post{
  font-size: 28px !important;
  font-weight: 600 !important;
  margin: 30px 0 !important;
}
.entry-content-single-post{
  margin-bottom: 30px !important;
  font-size: 19px
}
.tag_date_single{
  position: relative;
}
.news_tag-single-post, .news_date-single-post{
  text-transform: uppercase;
  font-weight: 600 !important;
  font-size: 19px !important;
  color: #707070 !important;
}
.news_tag-single-post{
  position: absolute;
  left: 0;
}
.news_date-single-post{
  position: absolute;
  right: 0;
}
.tag_date_single{
  width: 100%;
  height: 70px;
}
.btn-return_all_news{
  margin: 50px 0;
}
.btn-return_all_news a{
  color: #FFFFFF;
  background-image: linear-gradient(to right, #FFA45C 40%, #FCBD5C);
  padding: 18px 25px;
  text-transform: uppercase;
  font-size: 19px !important;
  font-weight: 700;
  border: 1px solid #FCBD5C;
  border-radius: 5px;
  transition: all ease 0.3s !important;
}
.btn-return_all_news a:hover{
  color: #FFA45C;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
}


/** Page TELECHARGEMENT **/
.background-app{
  background-color: #FFFFFF !important;
}
.background-app .writable-zone{
  padding: 0px 3%;
}
#post-1231{
  padding-top: 50px !important;
}
.android-block p, .apple-block p{
  font-size: 25px !important;
  font-weight: 600 !important;
}
.android-block h2, .apple-block h2{
  font-size: 32px !important;
  font-weight: 700 !important;
}
.android-block, .apple-block{
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.android-block .wp-block-group, .apple-block .wp-block-group{
  align-items: center !important;
  margin: 30px 50px 50px 50px;
  justify-content: space-between;
}
.apple-block h2::after{
  position: relative;
  background-image: url('/wp-content/uploads/2022/content/apple.png');
  background-size: contain;
  content: '';
  width: 40px;
  height: 39px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}
.android-block h2::after{
  position: relative;
  background-image: url('/wp-content/uploads/2022/content/app_store.png');
  background-size: contain;
  content: '';
  width: 40px;
  height: 39px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}
.android-block figure, .apple-block figure{
  max-width: 285px;
  margin: auto;
  margin-bottom: 50px;
}
.android-block{
  margin-right: 50px;
}
.apple-block{
  margin-left: 50px;
}
.page-template-template-download #menu-item-1238 a{
  color: white !important;
  background-color: #FCBD5C !important;
}


/** FOOTER **/
.footer_custom{
  background-color: #292929 !important;
  padding: 50px 4%;
}
.section-of-footer{
}
.show-to-flex{
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
.footer_custom p , .footer_custom a{
  color: #FFFFFF !important;
  width: 100%;
  display: block;
  margin: 16px 0px 16px;
}
.footer_custom a::before{
  position: relative;
  width: 15px;
  height: 2px;
  content: '';
  background-color: #FFA45F;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.logo-footer::before{
  position: relative;
  background-size: 47px;
  background-image: url('/wp-content/uploads/2022/content/logo.png');
  content: '';
  width: 47px;
  height: 47px;
  display: inline-block;
  margin-right: 19px;
}
.location::before{
  position: relative;
  background-image: url('/wp-content/uploads/2022/content/map.png');
  content: '';
  width: 27px;
  height: 27px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 39px;
}
.phone-number::before{
  position: relative;
  background-image: url('/wp-content/uploads/2022/content/phone.png');
  content: '';
  width: 26px;
  height: 39px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 39px;
}
.contact-us::before{
  display: none !important;
}
.contact-us{
  color: #FFFFFF;
  background-image: linear-gradient(to right, #FFA45C 40%, #FCBD5C);
  padding: 18px 25px;
  text-transform: uppercase;
  font-size: 19px !important;
  font-weight: 700;
  border: 1px solid #FCBD5C;
  border-radius: 5px;
  transition: all ease 0.3s !important;
}
.contact-us:hover{
  color: #FFA45C;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
}


/** Page générique + About + Contact **/
.background-generic{
  background-color: #FFFFFF !important;
}
.background-generic .writable-zone{
  padding: 0px 3%;
}
#wpforms-submit-4{
  background-color: #FFA45C;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #FFA45C;
}
#wpforms-submit-4:hover{
  background-color: #FFFFFF;
  color: #FFA45C;
}
.form-group.is-focused .form-control{
  background-image: linear-gradient(#FFA45C, #FFA45C), linear-gradient(#d2d2d2, #d2d2d2) !important;
}

#post-1233{
  padding: 0px !important;
}
.about-image-text{
  padding: 50px 0px 50px;
  max-width: 1280px !important;
  margin: auto !important;
}
.about-image-text h2{
  margin-bottom: 30px;
}
.about-image-text figure{
  min-height: 450px !important;
  margin: 0 6% !important;
}
.different-cars-tt{
  margin-bottom: 10px;
}
.different-cars-tx{
  margin-bottom: 40px;
}
.all-cars-columns{
  padding-bottom: 50px;
}




/** RESPONSIVE ALL **/

@media (max-width:1179px) {
  .news-here{
    width: 270px;
  }
  .all-content-news {
    margin: 20px 15px;
  }
  .header_post{
    width: 240px;
    top: -45px;
  }
  .news_title{
    font-size: 17px !important;
  }
  .entry-content{
    font-size: 17px !important;
  }
  .link-go-article{
    font-size: 17px !important;
  }
  .news_tag, .news_date{
    font-size: 14px !important;
  }
  .news_tag-single-post, .news_date-single-post{
    font-size: 15px !important;
  }
}
@media (max-width:1157px){
  .div_hd_home{
    height: 600px;
  }
  .div_hd_generic{
    height: 450px;
  }
  .img_hd_generic{
      top: 0%;
      left: 0%;
      transform: scale(1.5);
  }
  .link-in-footer.contact-us{
    font-size: 15px !important;
  }
  .show-to-flex {
    display: flex;
    flex-wrap: wrap;
}

}
@media (max-width:1029px){
  .news-here{
    margin-left: 50px;
  }
}
@media (max-width:992px){
  .div_hd_home{
    height: 500px;
  }
  .header-banner-block{
    top: 56%;
  }
  .double-download{
    display: block !important;
    width: 100%;
  }
  .double-download .android-block , .double-download .apple-block{
    margin: auto !important;
    padding-top: 10px;
    padding-bottom: 10px;
  }
    .double-download .android-block{
      margin-bottom: 30px !important;
    }
}
@media (max-width:992px) and (min-width:769px){
  .news-here{
    margin-left: 30px;
  }
  .navbar.hestia_left .title-logo-wrapper{
    min-width: 90px !important;
  }
}
@media (max-width:900px){
  .news-here{
    width: 100%;
    display: block;
    text-align: center;
    margin: 0px 0px 50px !important;
  }
  .header_post{
    width: 100%;
  }
  .link-go-article{
    float: none;
  }
  .recent-news-block{
    padding: 50px 30px 50px;
  }
}
@media (max-width:791px) {
  .all-cars-columns{
    display: block !important;
  }
}
@media (max-width: 769px) {
  .menu-item-1238 a{
    width: 141px;
  }
  .header-banner-block{
    width: 90%;
    margin-left: 5%;
    min-height: 325px;
    left: 0;
  }
  .div_hd_home {
    height: 430px;
  }
  .div_hd_generic{
    height: 350px;
  }
  .double_with_car_forest, .about-image-text{
    display: block !important;
  }
  .entry-content{
    height: 110px;
  }
  .all-content-news{
    height: 200px;
  }

  .show-to-flex{
    display: block
  }
  .show-to-flex h4{
    text-align: center;
  }
  .section-of-footer{
    margin-top: 30px;
  }
  .link-in-footer.contact-us{
    text-align: center;
    position: relative;
    width: 200px;
    margin: auto;
  }
  .section-of-footer p{
    font-size: 14px !important;
  }
  .mailchimp-right_part, .mailchimp-left_part{
    display: block;
    width: 100%;
  }
  .newsletter_shortcode{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .mailchimp-right_part{
    padding: 0% 3%;
  }
  .mailchimp-left_part{
    margin-bottom: 30px;
  }
}

@media (max-width:703px) {
  .header-banner-block{
    min-height: 340px;
    top: 58%;
  }
}
@media (max-width: 635px){
  .header-banner-block{
    min-height: 285px;
  }
  .header-banner-block h1 {
    position: relative;
    margin: 15px 20px 25px 20px;
  }
  .header-banner-block .under-the-title {
    margin: 0px 20px 10px 20px;
  }
  .header-banner-block .download-banner , .discover-banner{
    margin-left: 20px;
    margin-right: 20px;
  }
  .img_hd_home{
    top: 0%;
    left: 0%;
    transform: scale(1.5);
  }
}
@media (max-width:610px) {
  h2{
    font-size: 28px !important;
  }
  .header-banner-block {
    min-height: 315px;
  }
}
@media (max-width:601px) {
  .header-banner-block {
    top: 52%;
  }
  .div_hd_home {
    height: 370px;
  }

  .img_hd_generic{
      top: 0%;
      left: 0%;
      transform: scale(2.5);
  }
}
@media (max-width:475px){
  h1{
    font-size: 27px !important;
  }
  .under-the-title{
    font-size: 17px !important;
  }
  .header-banner-block{
    min-height: 280px;
  }
  .img_hd_home{
    transform: scale(2.5);
  }
  .img_hd_generic{
      top: 0%;
      left: 0%;
      transform: scale(3.5);
  }
}
@media (max-width:355px){
  .download-banner , .discover-banner{
    font-size: 11px !important;
  }
}
@media (max-width:345px){
  h1{
    font-size: 24px !important;
  }
}
